<h1>Listing user_paths</h1>

<table>
  <tr>
    <th>User</th>
    <th>Path</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_paths.each do |user_path| %>
  <tr>
    <td><%= user_path.user %></td>
    <td><%= user_path.path %></td>
    <td><%= link_to 'Show', user_path %></td>
    <td><%= link_to 'Edit', edit_user_path_path(user_path) %></td>
    <td><%= link_to 'Destroy', user_path, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User path', new_user_path_path %>
