<!DOCTYPE html>
<html>
<style>
div.nav
{
position:relative;
float: right;
right:20px;
display:block;
}
h1.penlink
{
display:inline;
}
h3.beta
{
color:red;
display:inline;
}
</style>
<head>
  <title>Pensieve</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1 class ="penlink"><%= link_to "PENSIEVE", home_index_path, :class => "titlelink" %></h1>
<h3 class="beta">Pensieve is still in Beta, so don't be surprised by errors and dead ends!</h3>
<br>
<div class="nav" id="nav">
<% if user_signed_in? %>
Logged in as <%=current_user.email  %>
<%= link_to "Profile", profile_path(current_user.id) %>
<%= link_to "Log out", destroy_user_session_path, :method => :delete, :class => 'link' %> 
<% else %>
Not logged in - Why don't you <%= link_to "Log in", new_session_path(:user) %> or <%=link_to "Register", new_registration_path(:user)%>
<%end%>
</div><br>
<%= yield %>

</body>
</html>
